body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

body hr {
  margin: 15px 30px;
}

.header {
  background-color: #2C2F33;
  height: 75px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header-text h1 {
  font-size: 45px;
  color: #ffffff;
  padding: 15px 0px 15px 15px;
}

.header-btn {
  margin-right: 15px;
}

@media screen and (max-width: 768px){
  .header-btn {
    display:none;
  }
}

@media screen and (max-width: 1549px){
  .sidemenuparent {
    display:none;
  }
}

@media screen and (min-width: 1550px){
  .mainparent{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
  }

  .mainpageparent{
    border:solid 6px #fafafa;
    width: 77%;
    float: left;
    margin: 30px 20px;
  }

  .mainpage {
    border:solid 2px #ededed;
  }

  .sidemenuparent{
    border:solid 6px #fafafa;
    width: 20%;
    height: 992px;
    float: right;
    margin: 30px 20px;
  }

  .sidemenu{
    border:solid 2px #ededed;
  }

  .sidemenu {
    color: #595959;
  }

  .UserGuidecont hr{
    border:solid 0.5px #a1a1a1;
  }

  .UserGuidecont a{
    text-decoration: none;
    color: #595959;
  }
}

.UserGuide p{
  margin: 12px 16px;
  font-size: 21px;
}

.sidemenu hr{
  margin: 5px 8px;
}

.UserGuidecont p{
  margin: 10px 22px;
  font-size: 19px;
}

.title {
  text-align: center;
  color: #333333;
  width: 90%;
  margin: auto;
}

.title h1 {
  font-size: 33px;
}

.title a {
  color: #333333;
}

.main {
  margin: 0px 15px;
}

.main-title1 {
  text-align: center;
  font-size: 35px;
  margin: 5px;
  color: #333333;
}

.main-title2 {
  text-align: center;
  font-size: 20px;
  margin:10px;
  color: #333333;
  line-height: 1.5em
}

.main-text {
  font-size: 18px;
  margin: 0px 15px;
  line-height: 1.2em;
}

.main-text h3 {
  font-size: 28px;
  line-height: 1.5em;
  color: #6594e0;/*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 2px #6594e0;
  margin: 10px 8px;
}

.main-text h4 {
  font-size: 19px;
  margin: 5px 2px;
}

.data {
  margin: 0px 10px;
}

.btn {
  text-align: center;
  margin: 5px;
  font-size: 25px;
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.footer {
  background-color: #424242;
  height: 140px;
  display: inline-block;
  width: 100%;
}

.footer h1 {
  font-size: 30px;
  padding: 30px 10px 30px 30px;
  color: #ffffff;
  width: 250px;
}

.footer-1 {
  display: flex;
  justify-content:center;
}

.footer-child p {
  color: #fff;
  font-size: 20px;
  margin: 0px 20px;
  width: 250px;
}

.footer-child a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 0px 20px;
  width: 70px;
}
