body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

body hr {
  margin: 15px 30px;
}

.header {
  background-color: #2C2F33;
  height: 75px;
}

.header a{
    text-decoration: none;
}

.header-text h1 {
  font-size: 45px;
  color: #ffffff;
  padding: 15px 0px 15px 15px;
}

.title p {
  font-size: 35px;
}

.inline-1 {
  display: inline-block;
  background-color: #dcdcdc;
  width: 300px;
  margin: 5px;
}

.inline-1 h2 {
  font-size: 38px;
}

.inline-1 h3 {
  font-size: 30px;
}

.inline-1 h4 {
  font-size: 15px;
}

.inline-2 {
  background-color: #a9a9a9;
  height: 50px;
}

.menu {
  display: inline-block;
  background-color: #696969;
  height: 35px;
  width: 20%;
}

.menu p {
  font-size: 30px;
}

.global {
  background-color: #4d5259;
  height: 38px;
}
.global li {
    float: left;
    font-size: 18px;
    padding: 10px;
}

.global a{
    color: #ffffff;
    text-decoration: none;
}

.kengen p {
  font-size: 35px;
}

@media only screen and (min-width: 850px) {
.yakushoku {
  margin: 0px 300px;
}
}

.yakushoku h2 {
  margin: 0px 47px;
  font-size: 22px;
  color: #333333;
}

.yakushoku hr {
  margin: 10px 40px;
}

.yakushoku p {
  margin: 0px 50px 0px 50px;
  font-size: 19px;
  color: #333333;
}

.busho p {
  font-size: 35px;
}


.footer {
  background-color: #424242;
  height: 140px;
  display: inline-block;
  width: 100%;
}

.footer h1 {
  font-size: 30px;
  padding: 30px 10px 30px 30px;
  color: #ffffff;
  width: 250px;
}

.footer a{
  text-decoration: none;
}

.footer-1 {
  display: flex;
  justify-content:center;
}

.footer-child p {
  color: #fff;
  font-size: 20px;
  margin: 0px 20px;
  width: 250px;
}

.footer-child a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 0px 20px;
  width: 70px;
}
